header a {
    color: white;
    text-decoration: none;
    border: 2px solid aquamarine;
    background-color:rgb(102, 235, 190);
    display: block;
    padding: 3px 50px 3px 50px;
    text-align: center;

}

.ima1{
    background-color: aquamarine;
    
}
.contenedor{
    /* position: fixed; */
    
    margin: 0 auto;
    align-items: center;
    background-color: aquamarine;
    z-index: 999;
}
.ima1-nav-cotn{
   
    /* justify-content: space-between; */
    align-items: center;
    background-color: aquamarine;
    list-style: none;
 
}

.menu  {
    margin:0;
    padding: 30px;
    
   
}
.li{
    display: inline-block;
}

.color :hover{
    color: black;
    background-color: white;
    transition-duration: 0.4s;
    text-decoration: none;
    width: 100%;

}
.im2{
    display: block;
    width:100%;
    min-width: 100px;
    
}

.main-banner {
    position: flex;
    margin-right: auto;
    margin-left: auto;
}

.texto-encima{
    position: absolute;
    top: 0;
    left: 0;
    margin: 50% 5% 0%;
    text-align: left;
    font-size: large;
}

.centrado{
    left: 90px;
    text-align: center;
}
.posicion{
    text-align: center;
    
}
.texto{
    font-size: 20px;
    
}
.container{
    
    padding:32px 64px;
    margin:auto;
    background-color: aquamarine;
    text-align: center;
}

.vector{
    width: 40px;
    height: 40px;
    display: inline-block;
  
}
.final{
    
    
    padding:32px 64px;
    margin:auto;
    background-color: aquamarine;
    text-decoration: none;
}
@media (min-width: 500px)
    { final
     mapa{
        width: 10px;
        height: 10px;

    }
}